In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_column',None)
pd.set_option('display.max_row',None)

In [8]:
#loading the dataset
df=pd.read_csv("basketball_awards_coaches.csv")
df

    year    coachID                  award lgID note
0   1962  gallaha01  NBA Coach of the Year  NBA  NaN
1   1963  hannual01  NBA Coach of the Year  NBA  NaN
2   1964  auerbre01  NBA Coach of the Year  NBA  NaN
3   1965  schaydo01  NBA Coach of the Year  NBA  NaN
4   1966   kerrjo01  NBA Coach of the Year  NBA  NaN
..   ...        ...                    ...  ...  ...
56  2007  scottby01  NBA Coach of the Year  NBA  NaN
57  2008  brownmi02  NBA Coach of the Year  NBA  NaN
58  2009  brooksc01  NBA Coach of the Year  NBA  NaN
59  2010  thiboto01  NBA Coach of the Year  NBA  NaN
60  2011  popovgr01  NBA Coach of the Year  NBA  NaN

[61 rows x 5 columns]

In [12]:
#data set info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     61 non-null     int64
 1   coachID  61 non-null     object
 2   award    61 non-null     object
 3   lgID     61 non-null     object
 4   note     4 non-null      object
dtypes: int64(1), object(4)
memory usage: 2.5+ KB

In [27]:
#checking for duplicates
df_dup=df.duplicated()
df_dup_df=pd.DataFrame(df_dup,columns=['duplicate'])
df_dup_df

    duplicate
0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False

In [28]:
#checking number of columns
df.columns

Index(['year', 'coachID', 'award', 'lgID', 'note'], dtype='object')

In [32]:
#renaming column lgID for cosistency and clarity
award=df.rename(columns={'lgID':'leagueID'})
award

    year    coachID                  award leagueID note
0   1962  gallaha01  NBA Coach of the Year      NBA  NaN
1   1963  hannual01  NBA Coach of the Year      NBA  NaN
2   1964  auerbre01  NBA Coach of the Year      NBA  NaN
3   1965  schaydo01  NBA Coach of the Year      NBA  NaN
4   1966   kerrjo01  NBA Coach of the Year      NBA  NaN
5   1967  cazzevi01  ABA Coach of the Year      ABA  NaN
6   1967  gueriri01  NBA Coach of the Year      NBA  NaN
7   1968  hannual01  ABA Coach of the Year      ABA  NaN
8   1968   shuege01  NBA Coach of the Year      NBA  NaN
9   1969  sharmbi01  ABA Coach of the Year      ABA  tie
10  1969  belmojo01  ABA Coach of the Year      ABA  tie
11  1969  holzmre01  NBA Coach of the Year      NBA  NaN
12  1970  biancal01  ABA Coach of the Year      ABA  NaN
13  1970  mottadi01  NBA Coach of the Year      NBA  NaN
14  1971  nissato01  ABA Coach of the Year      ABA  NaN
15  1971  sharmbi01  NBA Coach of the Year      NBA  NaN
16  1972  brownla01  ABA Coach of the Year      ABA  NaN
17  1972  heinsto01  NBA Coach of the Year      NBA  NaN
18  1973  mccarba01  ABA Coach of the Year      ABA  tie
19  1973  mullajo01  ABA Coach of the Year      ABA  tie
20  1973  scottra01  NBA Coach of the Year      NBA  NaN
21  1974  brownla01  ABA Coach of the Year      ABA  NaN
22  1974  johnsph01  NBA Coach of the Year      NBA  NaN
23  1975  brownla01  ABA Coach of the Year      ABA  NaN
24  1975  fitchbi01  NBA Coach of the Year      NBA  NaN
25  1976  nissato01  NBA Coach of the Year      NBA  NaN
26  1977  brownhu01  NBA Coach of the Year      NBA  NaN
27  1978  fitzsco01  NBA Coach of the Year      NBA  NaN
28  1979  fitchbi01  NBA Coach of the Year      NBA  NaN
29  1980  mckinja01  NBA Coach of the Year      NBA  NaN
30  1981   shuege01  NBA Coach of the Year      NBA  NaN
31  1982  nelsodo01  NBA Coach of the Year      NBA  NaN
32  1983  laydefr01  NBA Coach of the Year      NBA  NaN
33  1984  nelsodo01  NBA Coach of the Year      NBA  NaN
34  1985  fratemi01  NBA Coach of the Year      NBA  NaN
35  1986  schulmi01  NBA Coach of the Year      NBA  NaN
36  1987    moedo01  NBA Coach of the Year      NBA  NaN
37  1988  fitzsco01  NBA Coach of the Year      NBA  NaN
38  1989  rileypa01  NBA Coach of the Year      NBA  NaN
39  1990  chanedo01  NBA Coach of the Year      NBA  NaN
40  1991  nelsodo01  NBA Coach of the Year      NBA  NaN
41  1992  rileypa01  NBA Coach of the Year      NBA  NaN
42  1993  wilkele01  NBA Coach of the Year      NBA  NaN
43  1994  harride01  NBA Coach of the Year      NBA  NaN
44  1995  jacksph01  NBA Coach of the Year      NBA  NaN
45  1996  rileypa01  NBA Coach of the Year      NBA  NaN
46  1997   birdla01  NBA Coach of the Year      NBA  NaN
47  1998  dunlemi01  NBA Coach of the Year      NBA  NaN
48  1999  riverdo01  NBA Coach of the Year      NBA  NaN
49  2000  brownla01  NBA Coach of the Year      NBA  NaN
50  2001  carliri01  NBA Coach of the Year      NBA  NaN
51  2002  popovgr01  NBA Coach of the Year      NBA  NaN
52  2003  brownhu01  NBA Coach of the Year      NBA  NaN
53  2004  dantomi01  NBA Coach of the Year      NBA  NaN
54  2005  johnsav01  NBA Coach of the Year      NBA  NaN
55  2006  mitchsa01  NBA Coach of the Year      NBA  NaN
56  2007  scottby01  NBA Coach of the Year      NBA  NaN
57  2008  brownmi02  NBA Coach of the Year      NBA  NaN
58  2009  brooksc01  NBA Coach of the Year      NBA  NaN
59  2010  thiboto01  NBA Coach of the Year      NBA  NaN
60  2011  popovgr01  NBA Coach of the Year      NBA  NaN

In [37]:
#checking for missing values
award_null=award.isnull().sum()
award_null_award=pd.DataFrame(award_null,columns=['missing values'])
award_null_award

          missing values
year                   0
coachID                0
award                  0
leagueID               0
note                  57

In [47]:
#checking for percentage of missing value.
float_percentage = []
string_percentage = []
for key, values  in award_null.items():
    percent_missing=(values/60)*100
    string_percentage.append(str(percent_missing)+'%')
    float_percentage.append(percent_missing)
missing_null=pd.DataFrame(index=award_null.keys(),columns=['percentage null'])
missing_null['percentage null']=string_percentage
missing_null

         percentage null
year                0.0%
coachID             0.0%
award               0.0%
leagueID            0.0%
note               95.0%

In [48]:
#confirming the data size
award.shape

(61, 5)

In [53]:
#droping nulls
award_drop=award.dropna()
award_drop

    year    coachID                  award leagueID note
9   1969  sharmbi01  ABA Coach of the Year      ABA  tie
10  1969  belmojo01  ABA Coach of the Year      ABA  tie
18  1973  mccarba01  ABA Coach of the Year      ABA  tie
19  1973  mullajo01  ABA Coach of the Year      ABA  tie

In [59]:
#checking for nulls after droping nulls
award_drop.shape

(4, 5)

inference
It is seen clearly that if the null in note column is to be droped the entire data set would be gone as more than 95% of the note column is a null also some of the null values in the note column are neccessarily not applicable.

(1) Hence instead of dropping the null values they will be replaced with not applicable.

In [71]:
#replace nulls in note column with not applicable
award['note']=award['note'].fillna('not applicable')
award

    year    coachID                  award leagueID            note
0   1962  gallaha01  NBA Coach of the Year      NBA  not applicable
1   1963  hannual01  NBA Coach of the Year      NBA  not applicable
2   1964  auerbre01  NBA Coach of the Year      NBA  not applicable
3   1965  schaydo01  NBA Coach of the Year      NBA  not applicable
4   1966   kerrjo01  NBA Coach of the Year      NBA  not applicable
5   1967  cazzevi01  ABA Coach of the Year      ABA  not applicable
6   1967  gueriri01  NBA Coach of the Year      NBA  not applicable
7   1968  hannual01  ABA Coach of the Year      ABA  not applicable
8   1968   shuege01  NBA Coach of the Year      NBA  not applicable
9   1969  sharmbi01  ABA Coach of the Year      ABA             tie
10  1969  belmojo01  ABA Coach of the Year      ABA             tie
11  1969  holzmre01  NBA Coach of the Year      NBA  not applicable
12  1970  biancal01  ABA Coach of the Year      ABA  not applicable
13  1970  mottadi01  NBA Coach of the Year      NBA  not applicable
14  1971  nissato01  ABA Coach of the Year      ABA  not applicable
15  1971  sharmbi01  NBA Coach of the Year      NBA  not applicable
16  1972  brownla01  ABA Coach of the Year      ABA  not applicable
17  1972  heinsto01  NBA Coach of the Year      NBA  not applicable
18  1973  mccarba01  ABA Coach of the Year      ABA             tie
19  1973  mullajo01  ABA Coach of the Year      ABA             tie
20  1973  scottra01  NBA Coach of the Year      NBA  not applicable
21  1974  brownla01  ABA Coach of the Year      ABA  not applicable
22  1974  johnsph01  NBA Coach of the Year      NBA  not applicable
23  1975  brownla01  ABA Coach of the Year      ABA  not applicable
24  1975  fitchbi01  NBA Coach of the Year      NBA  not applicable
25  1976  nissato01  NBA Coach of the Year      NBA  not applicable
26  1977  brownhu01  NBA Coach of the Year      NBA  not applicable
27  1978  fitzsco01  NBA Coach of the Year      NBA  not applicable
28  1979  fitchbi01  NBA Coach of the Year      NBA  not applicable
29  1980  mckinja01  NBA Coach of the Year      NBA  not applicable
30  1981   shuege01  NBA Coach of the Year      NBA  not applicable
31  1982  nelsodo01  NBA Coach of the Year      NBA  not applicable
32  1983  laydefr01  NBA Coach of the Year      NBA  not applicable
33  1984  nelsodo01  NBA Coach of the Year      NBA  not applicable
34  1985  fratemi01  NBA Coach of the Year      NBA  not applicable
35  1986  schulmi01  NBA Coach of the Year      NBA  not applicable
36  1987    moedo01  NBA Coach of the Year      NBA  not applicable
37  1988  fitzsco01  NBA Coach of the Year      NBA  not applicable
38  1989  rileypa01  NBA Coach of the Year      NBA  not applicable
39  1990  chanedo01  NBA Coach of the Year      NBA  not applicable
40  1991  nelsodo01  NBA Coach of the Year      NBA  not applicable
41  1992  rileypa01  NBA Coach of the Year      NBA  not applicable
42  1993  wilkele01  NBA Coach of the Year      NBA  not applicable
43  1994  harride01  NBA Coach of the Year      NBA  not applicable
44  1995  jacksph01  NBA Coach of the Year      NBA  not applicable
45  1996  rileypa01  NBA Coach of the Year      NBA  not applicable
46  1997   birdla01  NBA Coach of the Year      NBA  not applicable
47  1998  dunlemi01  NBA Coach of the Year      NBA  not applicable
48  1999  riverdo01  NBA Coach of the Year      NBA  not applicable
49  2000  brownla01  NBA Coach of the Year      NBA  not applicable
50  2001  carliri01  NBA Coach of the Year      NBA  not applicable
51  2002  popovgr01  NBA Coach of the Year      NBA  not applicable
52  2003  brownhu01  NBA Coach of the Year      NBA  not applicable
53  2004  dantomi01  NBA Coach of the Year      NBA  not applicable
54  2005  johnsav01  NBA Coach of the Year      NBA  not applicable
55  2006  mitchsa01  NBA Coach of the Year      NBA  not applicable
56  2007  scottby01  NBA Coach of the Year      NBA  not applicable
57  2008  brownmi02  NBA Coach of the Year      NBA  not applicable
58  2009  brooksc01  NBA Coach of the Year      NBA  not applicable
59  2010  thiboto01  NBA Coach of the Year      NBA  not applicable
60  2011  popovgr01  NBA Coach of the Year      NBA  not applicable

In [65]:
#checking for size after cleaning.
award.shape

(61, 5)

In [70]:
#checking for null values after cleaning.
award.isnull().any()

year        False
coachID     False
award       False
leagueID    False
note        False
dtype: bool