In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df_series = pd.read_csv('basketball_series_post.csv')

In [7]:
df_series.head()

   year round series tmIDWinner lgIDWinner tmIDLoser lgIDLoser  W  L
0  1946     F      O        PHW        NBA       CHS       NBA  4  1
1  1946    QF      M        NYK        NBA       CLR       NBA  2  1
2  1946    QF      M        PHW        NBA       STB       NBA  2  1
3  1946    SF      N        PHW        NBA       NYK       NBA  2  0
4  1946    SF      N        CHS        NBA       WSC       NBA  4  2

In [8]:
df_series.isnull().sum()

year          0
round         0
series        0
tmIDWinner    0
lgIDWinner    0
tmIDLoser     6
lgIDLoser     0
W             0
L             0
dtype: int64

In [10]:
df_series.shape

(775, 9)

In [12]:
df_series_drop = df_series.dropna()
df_series_drop

     year round series tmIDWinner lgIDWinner tmIDLoser lgIDLoser  W  L
0    1946     F      O        PHW        NBA       CHS       NBA  4  1
1    1946    QF      M        NYK        NBA       CLR       NBA  2  1
2    1946    QF      M        PHW        NBA       STB       NBA  2  1
3    1946    SF      N        PHW        NBA       NYK       NBA  2  0
4    1946    SF      N        CHS        NBA       WSC       NBA  4  2
..    ...   ...    ...        ...        ...       ...       ... .. ..
770  1974    DT      A        KEN        ABA       NYA       ABA  1  0
771  1975     F      D        NYA        ABA       DNA       ABA  4  2
772  1975    SF      C        DNA        ABA       KEN       ABA  4  3
773  1975    SF      C        NYA        ABA       SAA       ABA  4  3
774  1975    FR      B        KEN        ABA       INA       ABA  2  1

[769 rows x 9 columns]

In [20]:
df_series_drop.isnull().sum().sum()

0